.center{
    width: 75%;
    margin: 10px auto;
}
  
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-card-header {
    margin: 10px auto; 
    justify-content: center;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    height: 4vh;
}

.officiating-card {
    max-width: 500px;
    color: black;
    background-color:#D3D6DE; 
    margin: 10px 50px;
}

.avatar-image {
    //background-image: url('../../../../assets/images/GriffsWest.jpg');
    background-size: cover;
}