<mat-card>
    <mat-card-header style="margin-left: auto; margin-right: auto;">
        <mat-card-title style="text-align:center;"><b>Arena Name</b></mat-card-title>
        <mat-card-subtitle>{{arena?.Name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div>
            <b>Address</b>
        </div>
        <div>{{arena?.Address}}</div>
        <br>
        <p>{{arena?.City}}</p>
        <br>
        <p>{{arena?.State}}</p>
        <br>
        <p>{{arena?.ZipCode}}</p>
        <br>
    </mat-card-content>
</mat-card>

<!-- <p>{{arena?.id}}</p>
<br>
<p>{{arena?.Name}}</p>
<br>
<p>{{arena?.Address}}</p>
<br>
<p>{{arena?.City}}</p>
<br>
<p>{{arena?.State}}</p>
<br>
<p>{{arena?.ZipCode}}</p>
<br> -->