<button class="btn btn-secondary rounded pull right" style="float:right; margin: 10px;" [routerLink]="['../../arena']">
    <mat-icon style="vertical-align: middle;">home</mat-icon>  
    <div style="display:inline-block; vertical-align: middle;">Back to Arena List</div>
</button>

<br>
<br>
<mat-card style="background-color:#D3D6DE; margin-top:10px;">
    <mat-card-header class="details-card-header">
        <mat-card-title class="card-title">{{arena?.Name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <b>Address</b>
        </div>
        <div>{{arena?.Address}}</div>
        <br>
        <p>{{arena?.City}}</p>
        <br>
        <p>{{arena?.State}}</p>
        <br>
        <p>{{arena?.ZipCode}}</p>
        <br>
    </mat-card-content>
</mat-card>

<!-- <p>{{arena?.id}}</p>
<br>
<p>{{arena?.Name}}</p>
<br>
<p>{{arena?.Address}}</p>
<br>
<p>{{arena?.City}}</p>
<br>
<p>{{arena?.State}}</p>
<br>
<p>{{arena?.ZipCode}}</p>
<br> -->