<div class="app-icon-group-list">
  <div class="app-icon-group-list-inner">
    <ul>
      <ng-container *ngIf="(portalIcons$ | async) as portalIcons">
        <li *ngFor="let icon of portalIcons" class="nav-card">
          <mat-card matTooltip={{icon.tooltipText}} matTooltipPosition={{icon.tooltipPosition}} class="iconCard" 
            [ngStyle]="{color: icon.textColor, 'background-color': icon.backgroundColor}" (click)="navigateToApplicationArea(icon.name)">
            <mat-card-content>
              <mat-icon class="icon-group-link">{{icon.avatarName}}</mat-icon>
            </mat-card-content>            
          </mat-card>
        </li>
      </ng-container>
    </ul>
  </div>
</div>