<div class="app-icon-group-list">
  <div class="app-icon-group-list-inner">
    <ul>
      <ng-container *ngIf="(applicationIcons$ | async) as applicationIcons">
        <li *ngFor="let icon of applicationIcons" class="nav-card">
          <mat-card matTooltip={{icon.tooltipText}} matTooltipPosition={{icon.tooltipPosition}} class="{{icon.cssClass}}" (click)="navigateToApplicationArea(icon.name)">
            <mat-card-content>
              <mat-icon class="icon-group-link">{{icon.avatarName}}</mat-icon>
            </mat-card-content>            
          </mat-card>
        </li>
      </ng-container>
    </ul>
  </div>
</div>