@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.example-header {
    padding: 0 10px 0 15px;
    width: 300px;
}

.add-official-fab {
    position: fixed !important;
    bottom: 20px;
    right: 50px;
    opacity: 0.75;
}

.level1Chip {
    opacity: 0.75;
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightRed;
    color: $fwWhite;
}

.level2Chip {
    opacity: 0.75;
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $mediumGray;
    color: $fwWhite;
}

.level3Chip {
    opacity: 0.75;
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightGreen;
    color: $fwWhite;
}

.level4Chip {
    opacity: 0.75;
    width: 50px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumBlue;
    color: $fwWhite;
}