<fw-custom-dialog dialogType="primary" class="add-ageGroup">
    <div *ngIf="!(selectedArena$ | async) as selectedArena">
        <mat-spinner></mat-spinner>
    </div>

    <div dialog-title *ngIf="(selectedArena$ | async) as selectedArena">
        <div [ngClass]="{'details-title-image': selectedArena?.AvatarImage, 'details-title-no-image' : !selectedArena?.AvatarImage}">
            <img *ngIf="selectedArena?.AvatarImage" style="margin-right: 10px;" mat-card-avatar class="avatar-image" src={{selectedArena?.AvatarImage}}>
            <span class="card-title">{{selectedArena.name}}</span>
        </div>
    </div>
    <div dialog-content class="dialog-preview-content" *ngIf="(selectedArena$ | async) as selectedArena">
        <fw-address-display [object]="selectedArena"></fw-address-display>
    </div>
    <div dialog-footer>
        <button mat-button (click)="onNoClick()">Close</button>
    </div>
</fw-custom-dialog>