@import '../../../../../styles/variables.scss';
@import '../../../../../styles/colors.scss';


.details-card-header {
    margin-top: -10px;
    justify-content: center;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    height: 4vh;
    margin: 35px auto;
}

.arena-card {
    max-width: 500px;
    color: black;
    background-color: $fwMediumLightBlue;
    padding: 24px;
}

.avatar-image {
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.mat-chip {
    font-size: 24px;
}

.details-title-image {
    margin: auto;
    width: 70%;
}

.details-title-no-image {
    margin: auto;
    width: 40%;
}

.dialog-preview-content {
    background-color: $fwLightBlue;
}