$largeHeadLine:24px/24px "HelveticaNeueLight", Helvetica, Arial, sans-serif;

$mediumHeadLine: 16px/24px "HelveticaNeueMedium", Helvetica, Arial, sans-serif;

$mediumHeadLineLight: 16px/24px "HelveticaNeueLight", Helvetica, Arial, sans-serif;

$smallHeadLine: 12px/16px "HelveticaNeueMedium", Helvetica, Arial, sans-serif;

$defaultText: 12px/16px "HelveticaNeue", Helvetica, Arial, sans-serif;

$button-text: 12px/12px "HelveticaNeueMedium", Helvetica, Arial, sans-serif;