@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This application encorporates functionality for both the Officiating and Shooting areas.
    </p>

    <p>
        The Officiating area will be used for both keeping track of and viewing data that is associated with officiating. Examples include different 
        age groups, arenas, officials, and the details of the game(s) that the official works.
    </p>

    <p>
        The Shooting area on the other hand will be used for both keeping track of and viewing data that is associated with the shooting that the user does.
        Examples include different games that the user participates in (ie Trap, Skeet, Sporting Clays), the different shooting ranges they go to,
        the different shooters, and the details of the game(s) that the shooter participates in.
    </p>
</article>