@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.main-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
	min-width: 800px;
}

.fixed-header {
    top: 0;
    position: fixed;
    background-color: $fwMediumDarkBlue;
    color: $fwWhite;
}

.app-nav-bar {
    font-size: 32px;
    color: white;
}

.mat-sidenav {
    width: 5%;
    min-width: 100px;
}

.mat-drawer-inner-container {
    overflow-x: hidden;
    overflow-y: auto;
}