<div class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <fw-banner [title]=title style="width:100%; margin-top:5px;"></fw-banner>
</div>

<div class="app-icon-group-list">
  <div class="app-icon-group-list-inner">
      <ul>
        <li class="nav-card">
          <mat-card class="officiating-card" [routerLink]="['/officiating']">
            <mat-card-header>
              <div mat-card-avatar class="officiating-header-image"></div>
              <mat-card-title class="icon-group-name">Officiating</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content class="icon-group-description">
                Manage officiating tasks
            </mat-card-content>
            <mat-card-footer class="footer-text icon-group-link">
              Go To Officiating
              <i class="fa fa-arrow-circle-right"></i>
            </mat-card-footer>
          </mat-card>
        </li>
        <li class="nav-card">
          <mat-card class="shooting-card" (click)="showShootingSweetAlert()">
            <mat-card-header>
              <div mat-card-avatar class="shooting-header-image"></div>
              <mat-card-title class="icon-group-name">Shooting</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content class="icon-group-description">
                Manage clay shooting tasks
            </mat-card-content>
            <mat-card-footer class="footer-text icon-group-link">
                Go To Shooting
              <i class="fa fa-arrow-circle-right"></i>
            </mat-card-footer>
          </mat-card>
        </li>
      </ul>
  </div>      
</div>

<!-- <div class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <fw-footer [message]="message" style="margin-top:5px; width:100%"></fw-footer>
</div> -->