<mat-sidenav-container class="example-container">
  <mat-sidenav-content>        
      <nav mat-tab-nav-bar style="background-color:aliceblue;" color="primary" *ngIf="route.children.length ===0">
        <a mat-tab-link
            *ngFor="let link of links"
            [routerLink]="link.routerLink"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
          {{link.label}}
        </a>
        <button class="btn btn-secondary rounded"  style="float:right; margin:5px;" [routerLink]="['/home']">
          <i class="fa fa-home"></i>  Back to Home
        </button>
      </nav>
        
      <br *ngIf="route.children.length === 0">

      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-tab-group>
  <mat-tab label="Arena Management"> 
    <fw-arena></fw-arena>
  </mat-tab>
  <mat-tab label="Age Group Management">
    Welcome to Age Group Management 
  </mat-tab>
  <mat-tab label="Officials Management"> 
    Welcome to Officials Management
  </mat-tab>
</mat-tab-group> -->

<!-- <div class="app-icon-group-list">
  <div class="app-icon-group-list-inner">
      <ul>
        <li>
          <div class="app-icon-group">
            <a class="app-icon-group-box">
              <i class="icon-group fa fa-building icon-success"></i>
              <div class="icon-group-info">
                <div class="icon-group-name">Arena Management</div>
                <div class="icon-group-description">Manage information about Hockey Arenas</div>
              </div>
              <div class="icon-group-link">
                Go To Arena Management
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="app-icon-group">
            <a class="app-icon-group-box" style="display: inline-block;" (click)="showShootingSweetAlert()">
              <i class="icon-group fa fa-users icon-warning"></i>
              <div class="icon-group-info">
                <div class="icon-group-name">Age Group Management</div>
                <div class="icon-group-description">Information regarding youth hockey age groups</div>
              </div>
              <div class="icon-group-link">
                Go To Age Group Management
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </a>
          </div>
        </li>
        <li>
          <div class="app-icon-group">
            <a class="app-icon-group-box" style="display: inline-block;" (click)="showShootingSweetAlert()">
              <i class="icon-group fa fa-user icon-info"></i>
              <div class="icon-group-info">
                <div class="icon-group-name">Officials Management</div>
                <div class="icon-group-description">Information regarding hockey officials</div>
              </div>
              <div class="icon-group-link">
                Go To Officials Management
                <i class="fa fa-arrow-circle-right"></i>
              </div>
            </a>
          </div>
        </li>
      </ul>
  </div>      
</div> -->