<div class="add-arena__row">
    <div class="add-arena__field--two-thirds">
        <mat-label class="display-label">Address</mat-label>
        <div class="display-data">{{object.address}}</div>
    </div>
</div>
<div class="add-arena__row">
    <div class="add-arena__field--one-third">
        <mat-label class="display-label">City</mat-label>
        <div class="display-data">{{object.city}}</div>
    </div>
    <div class="add-arena__field--one-third">
        <mat-label class="display-label">State</mat-label>
        <div class="display-data">{{object.state}}</div>
    </div>
    <div class="add-arena__field--one-third">
        <mat-label class="display-label">Zip Code</mat-label>
        <div class="display-data">{{object.zipCode}}</div>
    </div>
</div>