<br *ngIf="route.children.length === 0">

<div *ngIf="!dataSource">
    <mat-spinner></mat-spinner>
</div>

<div class="example-container" *ngIf="route.children.length === 0 && dataSource">
    <div class="example-header">
        <mat-form-field color="primary">
            <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for an Age Group">
        </mat-form-field>
    </div>
    
    <table mat-table [dataSource]="dataSource" matSort class="data-table">                    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element"> 
                <mat-chip [ngClass]="{'miteChip': element.name === 'Mite', 'squirtChip': element.name === 'Squirt', 'peeWeeChip': element.name === 'Pee Wee', 'bantamChip': element.name === 'Bantam'}" [disableRipple]="true">
                    {{element.name}}
                </mat-chip>
            </td>
        </ng-container>

        <ng-container matColumnDef="tier">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
            <td mat-cell *matCellDef="let element">
                <mat-chip [ngClass]="{'aChip': element.tier === 'A' || element.tier === 'AA' || element.tier === 'AAA', 
                    'bChip': element.tier === 'B' || element.tier === 'BB'}" [disableRipple]="true">{{element.tier}}</mat-chip>
            </td>
        </ng-container>

        <ng-container matColumnDef="minimumAge">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum Age</th>
            <td mat-cell *matCellDef="let element"> {{element.minimumAge}} </td>
        </ng-container>

        <ng-container matColumnDef="maximumAge">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Maximum Age</th>
            <td mat-cell *matCellDef="let element"> {{element.maximumAge}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="openUpdateAgeGroupDialog(row, $event)" (click)="openPreviewDialog(row, $event)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    <button mat-fab color="primary" [disabled]="dataSource.data.length === 0 || !dataSource.data.length" 
        (click)="openAddAgeGroupDialog()" matTooltip="Add Age Group" matTooltipPosition="above" class="add-ageGroup-fab">
        <mat-icon >add</mat-icon>  
    </button>
</div>