<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
            
        <br *ngIf="route.children.length === 0">

        <div *ngIf="!dataSource">
            <mat-spinner></mat-spinner>
        </div>
    
        <div class="add-ageGroup-fab">
            <button mat-fab color="primary" title="Add Age Group" [disabled]="dataSource.data.length === 0 || !dataSource.data.length" (click)="openAddAgeGroupDialog()">
                <mat-icon >add</mat-icon>  
            </button>
        </div>
    
        <div class="example-container" *ngIf="route.children.length ===0">
            <div class="example-header">
                <mat-form-field color="primary">
                    <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for an Age Group">
                </mat-form-field>
            </div>

            <div class="overflow-container">
                <table mat-table [dataSource]="dataSource" matSort class="arena-table">                    
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                        <td mat-cell *matCellDef="let element"> 
                            <mat-chip [ngClass]="{'squirtChip': element.Name === 'Squirt', 'peeWeeChip': element.Name === 'Pee Wee'}" [disableRipple]="true">{{element.Name}}</mat-chip>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="Tier">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-chip [ngClass]="{'aChip': element.Tier === 'A' || element.Tier === 'AA' || element.Tier === 'AAA', 
                                'bChip': element.Tier === 'B' || element.Tier === 'BB'}">{{element.Tier}}</mat-chip>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="MinimumAge">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Minimum Age</th>
                        <td mat-cell *matCellDef="let element"> {{element.MinimumAge}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="MaximumAge">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Maximum Age</th>
                        <td mat-cell *matCellDef="let element"> {{element.MaximumAge}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="openUpdateAgeGroupDialog(row, $event)" (click)="openPreviewDialog(row, $event)"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>