@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

:host {
	display: block;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 15px 0;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-table {
    overflow: auto;
    max-height: 600px;
}

.arena-table {
    margin: 0 15px 10px 15px; 
    box-shadow: 2px 2px 2px 2px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: $fwWhite;
}

.mat-row:nth-child(even) {
    background-color: $fwLightBlue;;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.mat-header-cell {
    color: $fwWhite;
    font-size: 14px;
}

.mat-header-row {
    background-color: $fwMediumDarkBlue;
    color: $fwWhite;
}

.add-ageGroup-fab {
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: 0.75;
}

// .ageGroupNameChip {
//     opacity: 1;
//     width: 90px;
//     display: table-cell;
//     vertical-align: middle;
//     height: 36px;
//     border-radius: 18px;
//     text-align: center;
//     background-color: $fwMediumLightGreen;
//     color: $fwWhite;
// }

.squirtChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightRed;
    color: $fwWhite;
}

.peeWeeChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumBlue;
    color: $fwWhite;
}