@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

.example-header {
    padding: 0 10px;
    width: 300px;
}
    
.add-ageGroup-fab {
    position: fixed !important;
    bottom: 20px;
    right: 50px;
    opacity: 0.75;
}

.miteChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $gradientBlueDark;
    color: $fwWhite;
}

.squirtChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightRed;
    color: $fwWhite;
}

.peeWeeChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumBlue;
    color: $fwWhite;
}

.bantamChip {
    opacity: 0.75;
    width: 90px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $mediumGray;
    color: $fwWhite;
}

.aChip {
    opacity: 0.75;
    width: 60px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightOrange;
    color: $fwWhite;
}

.bChip {
    opacity: 0.75;
    width: 60px;
    display: table-cell;
    vertical-align: middle;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    background-color: $fwMediumLightGreen;
    color: $fwWhite;
}