<fw-custom-dialog dialogType="primary" class="add-arena">
  <div dialog-title>
    Add Game Detail 
    <mat-icon class="add-game-detail__icon">assignment</mat-icon>
  </div>
  <div dialog-content class="add-game-detail__form">
    <mat-vertical-stepper [linear]="isLinear" #stepper class="add-game-detail__form-background">
      <mat-step [stepControl]="gameDateAndTimeFormGroup">
        <form [formGroup]="gameDateAndTimeFormGroup">
          <ng-template matStepLabel>Game Date and Time</ng-template>
          <div class="add-game-detail__row">
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Game Date</mat-label>
              <input matInput [matDatepicker]="gameDateDatePicker" placeholder="Choose a date" [min]="minDate" formControlName="firstCtrl">
              <mat-datepicker-toggle matSuffix [for]="gameDateDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #gameDateDatePicker></mat-datepicker>
              <mat-error *ngIf="gameDateAndTimeFormGroup.get('firstCtrl').hasError('required')">A valid game date is required</mat-error>
            </mat-form-field>
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Game Time</mat-label>
              <input matInput type="time" title="" formControlName="gameTime" />
              <mat-error *ngIf="gameDateAndTimeFormGroup.get('gameTime').hasError('required')">A valid game time is required</mat-error>
            </mat-form-field>
          </div>
          <div class="add-game-detail__row">
            <mat-label style="font-weight: bold; font-size: 14px;">Ref/Line</mat-label>
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="Ref" color="primary">Ref</mat-radio-button>
              <mat-radio-button value="Line" color="primary">Line</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="add-game-detail__row">
            <button mat-button matStepperNext type="button">
              <mat-icon class="add-game-detail__iconForwardOnly">arrow_forward</mat-icon>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="arenaAgeGroupAndPartnersFormGroup">
        <form [formGroup]="arenaAgeGroupAndPartnersFormGroup">
          <ng-template matStepLabel>Choose Arena, Age Group and Partner(s)</ng-template>
          <div class="add-game-detail__row">
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Arena</mat-label>
              <mat-select formControlName="arena">
                <mat-option *ngFor="let arena of arenas" [value]="arena.id">
                  {{arena.Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="arenaAgeGroupAndPartnersFormGroup.get('arena').hasError('required')">You must choose an Arena</mat-error>
            </mat-form-field>
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Age Group</mat-label>
              <mat-select formControlName="ageGroup">
                <mat-option *ngFor="let ageGroup of ageGroups" [value]="ageGroup.id">
                  {{ageGroup.Name}} {{ageGroup.Tier}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="arenaAgeGroupAndPartnersFormGroup.get('ageGroup').hasError('required')">You must choose an Age Group</mat-error>
            </mat-form-field>
          </div>
          <div class="add-game-detail__row">
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Number of Partners</mat-label>
              <mat-select formControlName="numberOfPartners" (selectionChange)="setNumberOfPartners()">
                <mat-option [value]="0">0</mat-option>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
              </mat-select>
            </mat-form-field>
            Number Of Partners: {{numberOfPartners}}
          </div>
          <div class="add-game-detail__row" *ngIf="numberOfPartners && numberOfPartners > 0">
            <mat-form-field *ngFor="let partner of partners; let i=index" 
              [ngClass]="{'add-game-detail__field' : partners.length === 1, 'add-game-detail__field--one-half' : partners.length === 2, 'add-game-detail__field--one-third' : partners.length === 3}">
              <mat-label>Partner {{i+1}}</mat-label>
              <mat-select formControlName="ageGroup">
                <mat-option [value]="partner.id">
                  {{partner.FirstName}} {{partner.LastName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="arenaAgeGroupAndPartnersFormGroup.get('ageGroup').hasError('required')">You must choose a Partner</mat-error>
            </mat-form-field>
          </div>   
          <div class="add-game-detail__row">
            <button mat-button matStepperPrevious type="button">
              <mat-icon class="add-game-detail__iconBack">arrow_back</mat-icon>
              Back
            </button>
            <button mat-button matStepperNext type="button">
              <mat-icon class="add-game-detail__iconForwardOnly">arrow_forward</mat-icon>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="mileageAndExpensesFormGroup">
        <form [formGroup]="mileageAndExpensesFormGroup">
          <ng-template matStepLabel>Mileage and Expenses</ng-template>
          <div class="add-game-detail__row">
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Total Mileage</mat-label>
              <input matInput type="number" required>
            </mat-form-field>
            <mat-form-field class="add-game-detail__field--one-half">
              <mat-label>Misc Expense</mat-label>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input matInput type="number" required>
            </mat-form-field>
          </div>          
          <div class="add-game-detail__row">
            <button mat-button matStepperPrevious type="button">
              <mat-icon class="add-game-detail__iconBack">arrow_back</mat-icon>
              Back
            </button>
            <button mat-button matStepperNext type="button">
              <mat-icon class="add-game-detail__iconForwardOnly">arrow_forward</mat-icon>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="paymentsFormGroup">
        <form [formGroup]="paymentsFormGroup">
          <ng-template matStepLabel>Payment</ng-template>
          <div class="add-game-detail__row">
            <mat-form-field class="add-game-detail__field--one-third">
              <mat-label>Rate Of Pay</mat-label>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input matInput type="number" required>
            </mat-form-field>
            <mat-form-field class="add-game-detail__field--one-third">
              <mat-label>Amount Paid</mat-label>
              <mat-icon matPrefix>attach_money</mat-icon>
              <input matInput type="number" required>
            </mat-form-field>
            <mat-form-field class="add-game-detail__field--one-third">
              <mat-label>Date Paid</mat-label>
              <input matInput [matDatepicker]="datePaidDatePicker" placeholder="Choose a date" [min]="minDate">
              <mat-datepicker-toggle matSuffix [for]="datePaidDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePaidDatePicker></mat-datepicker>
            </mat-form-field>
          </div>          
          <div class="add-game-detail__row">
            <button mat-button matStepperPrevious type="button">
              <mat-icon class="add-game-detail__iconBack">arrow_back</mat-icon>
              Back
            </button>
            <button mat-button matStepperNext type="button">
              <mat-icon class="add-game-detail__iconForwardOnly">arrow_forward</mat-icon>
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div class="add-game-detail__row">
          <button mat-button matStepperPrevious type="button">
            <mat-icon class="add-game-detail__iconBack">arrow_back</mat-icon>
            Back
          </button>
          <button mat-button (click)="stepper.reset()" type="button">
            <mat-icon class="add-game-detail__iconReset">restore</mat-icon>
            Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div dialog-footer>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary">Ok</button>
  </div>
</fw-custom-dialog>
