@import '../../../styles/variables.scss';
@import '../../../styles/colors.scss';

fw-custom-dialog {
	position: relative;
	display: block;
	margin: -24px;

	&.primary,
	&.secondary,
	&.success,
	&.danger,
	&.warning,
	&.info {
		div.dialog-header {
			div.title {
				font: $mediumHeadLine;
				line-height: 18px;
			}

			mat-icon {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}

	&.primary {
		div.dialog-header {
			background-color: $fwBlue;
			color: $fwWhite;
		}
	}

	&.secondary {
		div.dialog-header {
			background-color: $mediumGray;
			color: $fwWhite;
		}
	}

	&.success {
		div.dialog-header {
			background-color: $fwGreen;
			color: $fwWhite;
		}
	}

	&.danger {
		div.dialog-header {
			background-color: $fwRed;
			color: $fwWhite;
		}
	}

	&.warning {
		div.dialog-header {
			background-color: $fwOrange;
		}
	}

	&.info {
		div.dialog-header {
			background-color: $fwLightBlue;
		}
	}

	div.dialog-header {
		position: relative;
		padding: 20px 30px 16px;

		div.title {
			font: $mediumHeadLine;
		}
	}

	div.dialog-content {
		position: relative;
		display: block;

		div[dialog-content] {
			padding: 20px 30px;
			max-height: 65vh;
			overflow: auto;
		}
	}

	div.dialog-footer {
		position: relative;
		border-top: 1px solid $lightestGray;
		padding: 10px 30px;
		text-align: right;
	}
}