<nav mat-tab-nav-bar backgroundColor="accent" [disableRipple]="true">
  <a mat-tab-link
      *ngFor="let tab of tabs"
      [routerLink]="tab.path"
      routerLinkActive 
      #rla="routerLinkActive"
      [active]="rla.isActive"
      class="tab-link">
    {{tab.label}}
  </a>
  <button mat-raised-button style="position:absolute; right:10px; margin:5px;" [routerLink]="['/home']">
    <mat-icon style="vertical-align: middle;">home</mat-icon>
    <div style="display:inline-block; vertical-align: middle;">Back to Main Page</div>
  </button>
</nav>
